{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block body %}

<section class="container my-3">
    <div class="row">
        <div class="col">
            <h2>Réinitialiser mon mot de passe</h2>

            {{ form_start(passForm)}}
                {{ form_row(passForm.plainPassword)}}
                <button type="submit" class="btn btn-primary my-2">Envoyer</button>
            {{ form_end(passForm)}}

        </div>
    </div>
</section>
   
{% endblock %}
