{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<section class="container my-3">
    <div class="row">
        <div class="col">
            <h1>Inscrivez-vous</h1>

                {{ form_start(registrationForm) }}
                    <fieldset class="mb-3">
                        <legend>Identité</legend>
                        {{ form_row(registrationForm.lastname) }}
                        {{ form_row(registrationForm.firstname) }}
                        {{ form_row(registrationForm.email) }}                    
                    </fieldset>
                    <fieldset class="mb-3">
                        <legend>Mes coordonnées</legend>
                        {{ form_row(registrationForm.adress) }}
                        {{ form_row(registrationForm.city) }}
                        {{ form_row(registrationForm.zipcode) }}                    
                    </fieldset>

                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Password'
                    }) }}
                    <div id="register-form-rgpd">
                        {{ form_label(registrationForm.RGPDConsent) }}
                        {{ form_widget(registrationForm.RGPDConsent) }}                        
                        {{ form_errors(registrationForm.RGPDConsent) }}                   
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg my-3">M'inscrire</button>

                    <a href="{{ path("app_login") }}" class="btn btn-secondary my-2">Me connecter</a>
                {{ form_end(registrationForm) }}
        </div>
    </div>
</section>
{% endblock %}
