<footer class="container-fluid">
        <div class="row">
            <section class="col">Infos</section>
            <section class="col">2</section>
            <section class="col">3</section>
        </div>
</footer>