{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div>
            <div class="alert alert-{{label}} alert-dismissible" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <div class="alert-message">
                    {{ message|raw }}
                </div>
            </div>
        </div>
    {% endfor %}    
{% endfor %}