<nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{ path('app_main')}}">E-commerce</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ path('app_main')}}">Accueil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            {% if app.user %}
              <li class="nav-item">
                <a class="nav-link" href="">Mon compte</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
              </li> 
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{{ path('app_login') }}">Me connecter</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ path('app_register') }}">M'inscrire</a>
              </li>
            {% endif %}         
                                        
            </ul>
          </div>
        </div>
</nav>