{% extends 'base.html.twig' %}

{% block title %}Accueil: site e-commerce{% endblock %}

{% block body %}



<main class="container">
    <div class="row">
        <div class="col-12">
            <h1>Site e-commerce</h1>
            <p>Bienvenue dans notre boutique.</p>            
        </div>    
        <div class="row">
        {% for category in categories %}
            {% if category.parent == null %}
            <div class="col-12">
                <h2>{{ category.name }}</h2>
            </div>
            {% else %}  
            <div class="col-3 mx-2">              
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ category.name}}</h5>                    
                    <a href="{{ path('categories_list', {slug: category.slug})}}" class="card-link">Voir les produits</a>                                     
                </div>
            </div>
            </div>
            {% endif %}                
        {% endfor %}
        </div>       
    </div>
</main>
{% endblock %}
