{% extends 'base.html.twig' %}

{% block title %}Produits de la catégorie : {{ category.name }}{% endblock %}

{% block body %}
<main class="container">
<section class="row">
    <div class="col-12">
        <h1>Liste des produits de la catégorie : {{ category.name }}</h1>
    </div>
    <div>
        {% for product in products %}
        <div class="col-3">
            <div class="card" style="width: 18rem;">  
                <div class="card-body">
                  <h5 class="card-title">{{ product.name }}</h5>
                  <p class="card-text">{{product.description}}.</p>
                  <a href="#" class="btn btn-primary">Détails</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
</main>
{% endblock %}