<h1>Réinitialiser votre mot de passe</h1>

<p>Bonjour {{ user.firstname }}, demande de changement de mot de passe.</p>
<p>Cliquer ci-dessous :</p>


<a href="{{ url|raw }}">{{ url|raw }}</a>
<p>Merci !</p>