<h1>Activer votre compte</h1>

<p>Bonjour {{ user.firstname }}, votre inscription sur le site e-commerce est à valider.</p>
<p>Cliquer ci-dessous :</p>

{# on doit encapsuler le lien dans 'absolute_url' qui va reprendre l'url par rapport au site web #}

<a href="{{ absolute_url(path('verify_user', {token: token})) }}">{{ absolute_url(path('verify_user', {token: token})) }}</a>
<p>Ce lien expirera dans 3 heures</p>