<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Home{% endblock %}</title>
        {# feuilles de styles #}
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        {% block stylesheets %}
           <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
        {% endblock %}
        {# Fichiers js #}
        <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>

        {% block javascripts %}
           <script src="{{ asset('assets/js/scripts.js') }}"></script> 
        {% endblock %}
    </head>
    <body>
        {% include "partials/_navbarSite.html.twig" %}
        
        {% if app.user and app.user.isVerified == false %}
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <div class="alert-message">
                    <p><strong>Votre compte n'est pas activé</strong>, <a href="{{ path('resend_token') }}">renvoyer le lien d'activation.</a></p>                    
                </div>
            </div>
        {% endif %}
        {% include "partials/_messageFlash.html.twig" %}
        {% block body %}{% endblock %}
    </body>
    
</html>
