{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-primary text-center">Page non trouvée</h1>
    <div class="container-fluid">
        <div class="alert alert-primary" role="alert">
            <p>
               La page demandée n'a pas pu être localisée. Vérifiez l'URL, car elle est peut-être mal orthographiée. Retour sur la page d'accueil <a href="{{ path('app_main') }}">Lien</a>.
            </p>
        </div>
    </div>
{% endblock %}