{% extends 'base.html.twig' %}

{% block body %}
    <h1>Erreur 403, accès interdit</h1>

    <p>Vous n'avez pas la permission d'accéder à cette page.
    Retournez sur la page d'accueil <a href="{{ path('app_main') }}">Lien</a>.</p>
{% endblock %}