{% extends 'base.html.twig' %}

{% block body %}
    <h1>Erreur 500</h1>

    <p>Oops, il y a un problème pour afficher la page. Essayez de rafraîchir la page.</p>
    <p>Retournez sur la page d'accueil <a href="{{ path('app_main') }}">Lien</a>.</p>
{% endblock %}